<!-- <app-title title="Cart Page" margin="1.5rem 0 0 2.5rem"></app-title> -->

<div class="container">
  <ul>
    <app-not-found
  [visible]="!cart || !cart.items.length"
  notFoundMessage="El Carrito esta vacio"
  ></app-not-found>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <!-- <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name"> -->
      </div>
      <div>
        <a routerLink="/food/{{cartItem.food.id_hamburguesa}}">
          {{cartItem.food.nombre}}
        </a>
      </div>
      <div>
        <select #quantitySelect
        [value]="cartItem.quantity"
        (change)="changeQuantity(cartItem, quantitySelect.value)">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      </div>
      <div>
          {{cartItem.price}}€
      </div>
  
      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
          Eliminar
        </button>
      </div>
    </li>
  </ul>
  <div  class="checkout">
    <div>
      <div class="foods-count">{{cart.totalCount}}</div>
      <div class="total-price">{{cart.totalPrice}}€</div>
    </div>
  
    <a class="links" routerLink="/checkout">Realizar compra</a>
  </div>
  </div>