<app-header></app-header>
<div class="profile">
    <div class="profile__info">
      <h2 class="profile__title">Hola {{perfil.nombre}}</h2>
    </div>


    <div class="profile__data">
      <h3 class="profile__subtitle">Datos de perfil</h3>
      <div class="profile__data-item">
        <span class="profile__data-label">Nombre:</span>
        <span class="profile__data-value">{{perfil.nombre}}</span>
      </div>
      <div class="profile__data-item">
        <span class="profile__data-label">Email:</span>
        <span class="profile__data-value">{{perfil.email}}</span>
      </div>
     <!-- Falta poder editar datos y graficas de consumo -->
     <app-chart></app-chart>
</div>
  