header {
  position: relative;
  background: white;
  padding: 0;
  border-bottom: 1px solid #e72929;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

a {
  color: #af1313;
  text-decoration: none;
}

a:hover {
  background: #e72929;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

a.logo {
  font-weight: bold;
  padding: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  position: relative; /* Para el menú desplegable */
}

ul a {
  padding: 1rem;
  display: inline-block;
}

a span {
  background: #ff4d4d;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}

.menu-container {
  position: relative;
}

.menu {
  border: 1px solid red;
  position: absolute;
  top: 100%; /* Ajustado para desplegar debajo del padre */
  left: 0;
  width: 10rem;
  z-index: 1;
  background: whitesmoke;
  display: none;
  flex-direction: column;
}

.menu-container:hover .menu {
  display: flex;
}

.menu a {
  width: 100%;
  min-width: 8rem;
  padding: 0.5rem;
}

.nav__link {
  color: #e72929;
}

.nav__link:hover {
  color: white;
  background-color: #E72929;
}

.logo__img {
  width: 150px;
  margin: 10px;
  animation: logo__img 2s forwards;
}

@keyframes logo__img {
  0% {
      left: 1000px;
      top: -30px;
      opacity: 0;
  }
  20% {
      left: 1000px;
      top: -10px;
      opacity: 1;
  }
  100% {
      left: 110px;
      opacity: 1;
  }
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }

  nav {
      width: 100%;
  }

  ul {
      flex-direction: column;
      width: 100%;
  }

  ul li {
      width: 100%;
      text-align: center;
  }

  ul a {
      width: 100%;
      padding: 0.5rem;
  }

  .logo__img {
      position: static;
      margin: 0 auto;
  }
}
