<div class="about-us__container">
    <h1>Sobre Nosotros</h1>
    <p>
      Bienvenidos a Smash Tala, una empresa situada en Talavera de la Reina que ha iniciado su andadura en 2024 con una revolución contra la comida rápida. Nuestra misión es ofrecer comida de alta calidad, preparada con ingredientes frescos y servida directamente desde nuestra web.
    </p>
    <p>
      En Smash Tala, nos enorgullecemos de proporcionar un servicio rápido y eficiente, garantizando que cada pedido llegue a su destino de manera puntual y en perfectas condiciones. Nuestro compromiso con la calidad y la satisfacción del cliente es nuestra prioridad número uno.
    </p>
    <h2>Nuestra Ubicación</h2>
    <div class="map-container">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.527929963051!2d-4.828589684447102!3d39.96252097942079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4770c3d474b4d7%3A0x401dd7f79f1d8e0!2sTalavera%20de%20la%20Reina%2C%20Toledo!5e0!3m2!1ses!2ses!4v1627893450172!5m2!1ses!2ses" 
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy">
      </iframe>
    </div>
  </div>
