<app-header></app-header>
<div class="log__title">
  <h1>Listado del historial</h1>
</div>

<div class="filter-container">
  <div class="filter-item">
    <label for="start-date">Desde:</label>
    <input type="date" id="start-date" [(ngModel)]="startDate" [min]="minDate" [max]="maxDate" class="form-control">
  </div>
  <div class="filter-item">
    <label for="end-date">Hasta:</label>
    <input type="date" id="end-date" [(ngModel)]="endDate" [min]="minDate" [max]="maxDate" class="form-control">
  </div>
  <div class="filter-item">
    <button class="btn btn-filter" (click)="applyFilter()">Aplicar Filtro</button>
  </div>
  <div class="filter-item">
    <button class="btn btn-show-all" (click)="toggleLogs()">Mostrar Todos</button>
  </div>
  <div class="filter-item">
    <button class="btn btn-show-month" (click)="toggleLogs()">Mostrar Logs del Mes</button>
  </div>
</div>

<table class="log-table table table-responsive mb-5">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Contenido</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of filteredLogs">
      <td>{{ log.fecha }}</td>
      <td>{{ log.contenido }}</td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center align-items-center mb-2">
  <button class="btn btn-secondary" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
    Anterior
  </button>
  <span class="mx-2">Página {{ currentPage }} de {{ totalPages }}</span>
  <button class="btn btn-secondary"  (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
    Siguiente
  </button>
</div>

