<app-header></app-header>
<div class="log__title">
  <h1>Listado del historial</h1>
</div>

<div class="filter-container">
  <label for="start-date">Desde:</label>
  <input type="date" id="start-date" [(ngModel)]="startDate" [min]="minDate" [max]="maxDate">
  <label for="end-date">Hasta:</label>
  <input type="date" id="end-date" [(ngModel)]="endDate" [min]="minDate" [max]="maxDate">
  <button class="btn btn-filter" (click)="applyFilter()">Aplicar Filtro</button>
  <button class="btn btn-show-all" (click)="toggleLogs()">Mostrar Todos</button>
  <button class="btn btn-show-month" (click)="toggleLogs()">Mostrar Logs del Mes</button>
</div>

<table class="log-table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Contenido</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of filteredLogs">
      <td>{{ log.fecha }}</td>
      <td>{{ log.contenido }}</td>
    </tr>
  </tbody>
</table>
