<app-header></app-header>
<div class="text-center card container col-md-3">
    <div class="mt-5 mb-5">
        <img class="mb-4" src="../../../../assets/images/logo_smash.png" alt="" width="150" height="57">
        <h1 class="h3 mb-3 fw-normal">Inicia Sesión</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating mt-1 mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-danger" type="button" (click)="submitForm()">Sign in</button>
        <p class="span_login">¿No tienes cuenta?<a routerLink="/register">Registrate</a></p>
    </div>
</div>
