header {
  position: relative;
  background: white;
  padding: 0;
  border-bottom: 1px solid #e72929;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Añadido para hacerlo responsive */
}

a {
  color: #af1313;
}

a:hover {
  background: #e72929;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: wrap; /* Añadido para hacerlo responsive */
}

a.logo {
  font-weight: bold;
  padding: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0; /* Añadido para eliminar padding por defecto */
}

ul a {
  padding: 1rem;
  display: inline-block;
}

a span {
  background: #ff4d4d;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}

.menu-container {
  position: relative;
}

.menu {
  border: 1px solid red;
  position: absolute;
  left: 0;
  width: 10rem;
  z-index: 1;
  background: whitesmoke;
  display: none;
}

.menu-container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 8rem;
}

a {
  text-decoration: none;
}

.nav__link {
  color: #e72929;
}

.nav__link:hover {
  color: white;
  background-color: #e72929;
}

.logo__img {
  width: 150px;
  margin: 10px;
  position: absolute;
  animation: logo__img 2s forwards;
  top: -10px;
}

@keyframes logo__img {
  0% {
      left: 1000px;
      top: -30px;
      opacity: 0;
  }

  20% {
      left: 1000px;
      top: -10px;
      opacity: 1;
  }

  100% {
      left: 110px;
      opacity: 1;
  }
}

.order {
  background-color: #ffffff59;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
 
}

.profile__info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
}

.profile__title {
  font-size: 1.5rem;
  margin-right: 10px;
}

.table-container {
  overflow-x: hidden; /* Para evitar scroll horizontal */
  width: 100%;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid red;
  padding: 8px;
  text-align: center;
  word-wrap: break-word; /* Para ajustar el contenido */
}

th {
  background-color: rgba(255, 0, 0, 0.1);
}

.mat-header-cell {
  color: red;
}

.mat-cell {
  color: red;
}

.mat-header-row, .mat-row {
  background-color: transparent;
}

.mat-row:last-child td {
  border-bottom: 1px solid red;
}

#burgerChartContainer {
  width: 300px;
  margin: 5rem auto;
}

#burgerChart {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 768px) {
  .profile__info {
      flex-direction: column;
      align-items: flex-start;
  }

  .profile__title {
      margin-right: 0;
      margin-bottom: 10px;
  }

  table {
      font-size: 0.8rem; /* Ajusta el tamaño de la fuente */
  }

  th, td {
      padding: 6px;
      font-size: 0.8rem; /* Ajusta el tamaño de la fuente */
  }

  #burgerChartContainer {
      max-width: 250px;
  }
}

@media (max-width: 480px) {
  .order {
      height: auto;
  }

  table {
      font-size: 0.7rem; /* Ajusta el tamaño de la fuente */
      margin-bottom: 1rem;
  }

  th, td {
      padding: 4px;
      font-size: 0.7rem; /* Ajusta el tamaño de la fuente */
  }

  #burgerChartContainer {
      max-width: 200px;
  }
}
